.popup {
    position: absolute; /* Position relative to the document */
    top: 76px; /* Ensure it starts below the header */
    left: 0;
    width: 100%; /* Full width of the viewport */
    height: auto; /* Adjust based on content */
    background-color: rgba(0, 0, 0, 0.4); /* Optional: semi-transparent overlay */
    z-index: 998; /* Place it below the header */
    display: flex; /* Flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: flex-start; /* Align popup content to the top */
}

/* Popup Content */
.popup .content {
    position: relative; /* Positioned within the popup container */
    top: 20px; /* Add some spacing below the header */
    width: 92%; 
    max-width: 560px;
    padding: 20px;
    border-radius: 10px;
    background: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    z-index: 2; /* Ensure it’s above the overlay */
    text-align: center;
}

/* Close Button */
.popup .close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 35px;
    height: 35px;
    color: black;
    font-size: 20px;
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
}

/* Input Fields */
.input-field .validate {
    padding: 15px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #454545;
    margin-bottom: 15px;
    color: black;
    background: white;
    width: 80%; 
    box-sizing: border-box;
}

/* Submit Button */
.second-button {
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    padding: 15px 30px;
    border-radius: 40px;
    border: none;
    width: 70%;
    background-color: #178F7A;
    outline: none;
    cursor: pointer;
}

.second-button:active {
    background: linear-gradient(145deg, #178F7A, #47A493);
    border: none;
    outline: none;
}

/* Responsive Styles */
@media (max-width: 769px) {
    .popup .content {
        width: 60%; 
        padding: 15px;
        top: 20px; 
    }

    .input-field .validate {
        font-size: 16px;
        padding: 15px;
        width: 100%; 
    }

    .second-button {
        font-size: 16px;
        padding: 15px 25px;
        width: 80%;
    }
}

@media (max-width: 480px) {
    .popup .content {
        width: 85%; 
        padding: 10px;
        top: 20px; 
    }

    .input-field .validate {
        font-size: 14px;
        padding: 12px;
    }

    .second-button {
        font-size: 14px;
        padding: 12px 20px;
        width: 90%;
    }
}

@media (max-width: 321px) {
    .popup .content {
        width: 85%; 
        padding: 10px;
        top: 20px; 
    }

    .input-field .validate {
        font-size: 14px;
        padding: 12px;
    }

    .second-button {
        font-size: 14px;
        padding: 12px 20px;
        width: 90%;
    }
}

/* General Paragraph Styling */
p {
    color: black;
    padding: 20px;
    font-size: 18px;
}